[Desktop Entry]
Type=Application
Exec=/snap/bin/barrier
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=barrier
Name=barrier
Comment[en_US]=KVM Management
Comment=KVM Management
